/*
  To namespace classes to .leetcode_helper-<classname> to avoid conflicts or
  overwriting any existing styles.

  Don't prefix .light and .dark, so we can override styles based on theme.
*/
@prefix leetcode_helper not(/light|dark/, /ignore/);

:root {
  --text-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  justify-content: space-between;
  background: #e6e6e6;
  padding: 5px 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-text {
  position: relative;
  z-index: 1;
  margin: 0;
  color: white;
  text-shadow: var(--text-shadow);
}

.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(#dbeb50, #79b332);
  z-index: 0;
}

.random-button {
  padding: 5px 10px;
  border-radius: 10px;
  background: linear-gradient(to top, #ff8200, #ffb800);
  text-shadow: var(--text-shadow);
  color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

/* -----------------------------------------------------------------------------
Bar
----------------------------------------------------------------------------- */
.bar {
  padding: 7.5px;
  font-size: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.light .bar {
  background: #f0f0f0;
  color: #686868;
}

.dark .bar {
  background: #0f0f0f;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* -----------------------------------------------------------------------------
Features (left side of bar)
----------------------------------------------------------------------------- */
.features {
  display: flex;
}

.feature-toggle {
  background: white;
  height: 7.5px;
  width: 7.5px;
  margin-right: 5px;
  cursor: inherit;
  border-radius: 50%;
}

.feature-label {
  cursor: inherit;
  margin: 0 !important;
  font-weight: 400 !important;
}

.feature-toggle--on {
  background: #2ac245;
}

.feature-container {
  cursor: pointer;
  transition: background 250ms ease-in-out;
  margin-right: 5px;
  padding: 2px 7.5px;
  border-radius: 10px;
  user-select: none;
  background: #e7e7e7;
  display: flex;
  align-items: center;
}

.feature-container:hover {
  background: #e2e2e2;
}

.dark .feature-container {
  background: #222222;
}

.dark .feature-container:hover {
  background: #2f2f2f;
}

/* -----------------------------------------------------------------------------
Right side of bar (random button & progress)
----------------------------------------------------------------------------- */
